@import '../../styles/mixin.scss';

.wrapper {
  @include width_height(100vw, 100vh);
  @include marginPadding(0px, 0px);
  display: flex;
  background-color: #e5e5e5;


  .sign-in {
    @include width_height(800px, 782px);
    @include flexCenterSpaceBetween(flex, center, space-between);
    flex-direction: column;
    margin: 3% auto;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    @media screen and(max-width: 1600px) {
      @include width_height(700px, 682px);
    }

    @media screen and(max-width: 1500px) {
      @include width_height(660px, 632px);
    }

    @media screen and(max-height: 812px){
      width: 360px !important;
      height: 800px !important;
    }

    @media screen and(max-width: 540px) {
      width: 520px !important;
      height: 690px !important;
    }

    @media screen and(max-width: 414px) {
      width: 396px !important;
      height: 706px !important;
    }

    @media screen and (max-width: 375px) {
      width: 360px !important;
      height: 650px !important;
    }

    @media screen and(max-width: 360px) {
      width: 350px !important;
      height: 616px !important;
    }

    @media screen and(max-width: 320px) {
      width: 310px !important;
      height: 550px !important;
    }

    .title-logo {
      @include width_height(70%, 15%);
      text-align: center;
      padding-top: 30px;
      font-size: 2em;
      letter-spacing: 1px;
    }

    .form-wrapper {
      @include width_height(100%, 63%);

      form {
        @include width_height(100%, 100%);
        @include flexCenterSpaceBetween(flex, center, space-around);
        flex-direction: column;

        .block-input {
          @include width_height(100%, 42%);
          @include flexCenterSpaceBetween(flex, center, space-evenly);
          flex-direction: column;
          position: relative;

          .email-sign-in-error-messege {
            @include width_height(500px, 20px);
            color: red;
            position: absolute;
            text-align: left;
            font-size: 0.8em;
            display: none;
          }

          .hide-password {
            @include width_height(80%, 24%);
            display: flex;
            border-radius: 10px;
            position: relative;

            .password-sign-in-error-messege {
              @include width_height(500px, 20px);
              @include absoluteTopLeft(105%, 3%);
              position: absolute;
              color: red;
              position: absolute;
              text-align: left;
              font-size: 0.8em;
              display: none;
            }

            input {
              @include width_height(93%, 100%);
              border-right: none;
              font-size: 1.1em;
              font-weight: bolder;
              background-color: #ffffff;
              outline: none;
              border: #e5e5e5 1px solid;
              border-right: none;
              color: black;
              padding-left: 15px;
              padding-right: 15px;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;

              &::placeholder {
                color: #e5e5e5;
                font-size: 1em;
                font-weight: bold;
              }
            }
          }

          #email-sign-in {
            @include width_height(80%, 24%);
            background-color: #fff;
            outline: none;
            border-radius: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border: #e5e5e5 1px solid;
            color: black;
            font-size: 1.1em;
            font-weight: bolder;

            &::placeholder {
              color: #e5e5e5;
              font-size: 1em;
              font-weight: bold;
            }
          }
        }

        p {
          @include width_height(80%, 5%);
          text-align: right;
          font-size: 1em;
          margin-right: 90px;
          margin-top: -36px;
          font-weight: bold;
          color: #165dc7;
          cursor: pointer;
        }

        #btn-sign-in {
          @include width_height(80%, 14%);
          color: rgb(0, 0, 0);
          background-color: #d7eeef;
          outline: none;
          font-size: 1.5em;
          letter-spacing: 1px;
          border: 1px solid #c4c4c4;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .create-account-href {
      @include width_height(100%, auto);
      text-align: center;
      font-size: 1em;
      color: #797979;
      margin-top: -20px;
    }

    .btn-href-sing-up {
      @include width_height(100%, 10%);
      display: flex;

      .btn-href-sing-up-item {
        @include width_height(55%, 55%);
        margin: 1px auto;
        font-size: 0.7em;
        outline: none;
        border: none;
        font-weight: bold;
        background-color: #d7eeef;
        border: 1px solid #c4c4c4;

        &:hover {
          opacity: 0.5;
        }

        a {
          text-decoration: none;
          color: black;
          font-size: 1.2em;
        }
      }
    }
  }
}

.hidden {
  @include width_height(10%, 100%);
  @include imagePosition(center, no-repeat, 50%);
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  border-left: 1px solid #e5e5e5;
  background-image: url("/src/png/eye-2-48.png");
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
