<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap"
      rel="stylesheet"
    />
    <title>Create Board</title>
  </head>
  <body>
    <div class="wrapper-main">
      <header>
        <div class="logo-img">
          <div class="logo-img-png"></div>
          <div class="logo-img-title">EasyNote</div>
        </div>
        <div class="btns-header-create-board">
          <div class="home-page-btns">Home page</div>
          <textarea class="board-name"></textarea>
        </div>
      </header>
      <div class="midle-create-board">
        <div class="aside-board">
          <div class="btns-plate">
            <div class="aside-board-items"></div>
            <div class="aside-board-items"></div>
            <div class="aside-board-items"></div>
            <div class="aside-board-items"></div>
          </div>
          <div class="aside-actions"></div>
        </div>
        <div class="menu">
          <div class="menu-list">
            <div class="menu-item" id="change-board-color">
              <span>Change the board colour</span>
            </div>
            <div class="menu-item" id="add-new-note">
              <span>Add a new note</span>
            </div>
            <div class="menu-item">
              <span>Add an image</span>
            </div>
            <div class="menu-item">
              <span>Add an emoji</span>
            </div>
          </div>
          <div class="back"></div>
        </div>
        <div class="midle-create-board-main">
          <div class="change-colors-board">
            <div class="color pink"></div>
            <div class="color yellow"></div>
            <div class="color green"></div>
            <div class="color blue"></div>
            <div class="color white"></div>
          </div>
          <div class="board-create">
            <div id="notesWrapper">
              <div class="tc-notes">
              </div>
            </div>
          </div>
          <div class="delete-save-board">
            <div class="blockButtonsCreateNote">
              <div class="wrapperRemoveNote">
                <button class="del-note">Delete</button>
              </div>
              <div class="wrapperSaveNote">
                <form action="" class="footer-create-board">
                  <button class="save-note" type="submit">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="errNoteSave">
        <h6>Do you want to save changes ?</h6>
        <form action="" class="errNoteSave-form">
          <div class="errNoteSave-btns">
            <div class="errNoteSave-btns-cancel">Cancel</div>
            <button class="errNoteSave-btns-save">Save</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
