.wrapper-main {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;

  header {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    .logo-img {
      width: 25%;
      height: 100%;
      background-color: #d7eeef;
      display: flex;
      align-items: center;
      justify-content: center;

      &-png {
        width: 20%;
        height: 100%;
        background: url("/src/png/logo.png") center center no-repeat;
        background-size: contain;
        margin-left: 120px;

        @media screen and(max-width: 1600px) {
          margin-left: 70px;
        }
      }

      &-title {
        width: 80%;
        height: 100%;
        padding-top: 3px;
        font-size: 1.9em;

        @media screen and(max-width: 1600px) {
          font-size: 1.5em;
        }
      }
    }

    .btns-header-create-board {
      width: 75%;
      height: 100%;
      background-color: rgb(48, 46, 46);
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .home-page-btnss {
        width: 12%;
        height: 70%;
        background-color: #c4c4c4;
        text-align: center;
        padding-top: 7px;
        font-size: 1.2em;
        margin-left: 20px;
        border-radius: 5px;
        letter-spacing: 1px;
        cursor: pointer;

        @media screen and(max-width: 1600px) {
          padding-top: 1px;
          font-size: 1.2em;
          margin-left: 20px;
          border-radius: 5px;
          letter-spacing: 1px;
        }

        @media screen and(max-width: 1300px) {
          padding-top: 3px;
          font-size: 1em;
          margin-left: 20px;
          border-radius: 5px;
          letter-spacing: 1px;
          width: 14%;
        }
      }

      .board-name {
        color: white;
        width: 50%;
        text-align: center;
        padding: 5px;
        height: 90%;
        font-size: 1em;
        resize: none;
        background-color: rgb(48, 46, 46);
        border: none;
        outline: none;
        overflow: none;
      }
    }
  }
  .midle-create-board {
    width: 100%;
    height: 94%;
    display: flex;
    align-items: center;
    flex-direction: center;

    .aside-board {
      width: 4%;
      height: 100%;
      background-color: rgb(48, 46, 46);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @media screen and(max-width: 1600px) {
        width: 4.5%;
      }

      @media screen and(max-width: 1200px) {
        width: 5%;
      }

      &-items {
        margin-top: 35px;
        width: 45px;
        height: 45px;
        border-radius: 7px;
        background-color: #464242;

        @media screen and(max-width: 1600px) {
          width: 39px;
          height: 39px;
        }
      }

      .aside-actions {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
        background: url("/src/png/arrow-32-48.png") no-repeat center center;
        background-size: cover;
      }
    }

    .menu {
      display: none;
      transition: 0.5s;
    }

    .menu-show {
      width: 18%;
      border: 1px solid;
      height: 100%;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      transition: 0.5s;
      transform: scaleX(1);
      transform-origin: center;

      @media screen and(max-width: 1600px) {
        width: 22%;
      }

      .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 80%;
        height: 90%;

        .menu-item {
          width: 90%;
          height: 5%;
          margin-top: 40px;
          margin-left: 5px;
          transition: 0.5s;
          padding: 10px;
          border-bottom: solid 1px #b4b4b4;

          @media screen and(max-width: 1600px) {
            margin-top: 20px;
            height: 3%;
          }

          &:hover {
            background-color: #c4c4c4;
            border-radius: 4px;
            color: rgb(255, 255, 255);
          }

          @media screen and(max-width: 1600px) {
            width: 100%;
            height: 6%;
            margin-top: 40px;
            margin-left: 20px;
          }

          span {
            font-size: 0.8em;
            font-weight: bolder;
            padding: 5px;

            @media screen and(max-width: 1600px) {
              font-size: 0.8em;
            }

            @media screen and(max-width: 1200px) {
              font-size: 0.7em;
            }

            @media screen and(max-width: 1175px) {
              font-size: 0.7em;
            }
          }
        }
      }

      .back {
        width: 30px;
        height: 30px;
        background: url("/src/png/arrow-97-48.png") no-repeat center center;
        background-size: cover;
        margin-bottom: 10px;
        align-self: flex-start;
        margin-left: 10px;
      }
    }

    .midle-create-board-main {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      

      .board {
        margin: 15px auto;
        width: 97%;
        height: 95%;
        background-color: #f0f0f0;
        overflow-x: none;
        overflow-y: auto;

        #notesWrapper {
          padding: 50px;

          .notesWrapper-tc {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;

            .tc-note {
              background-color: #fffacb;
              border-radius: 8px;
              width: 280px;
              height: 150px;
              margin: 0 10px 20px;
              box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
              transition: all 0.5s;
              cursor: pointer;

              .tc-note-header {
                padding: 10px 16px 0;

                .tc-note-closes {
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  line-height: 24px;
                  text-align: center;
                  transition: all 0.3s;
                  background: url("/src/png/x-mark-48.png") no-repeat center
                    center;
                  background-size: 50%;

                  &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                  }

                  &:focus {
                    box-shadow: inset 2px 3px 0px rgba(90, 49, 49, 0.8);
                  }
                }
                .tc-note-closes {
                  float: right;
                }
              }
              .tc-note-title,
              .tc-note-body {
                outline: 0;
              }

              .tc-note-title {
                font-size: 24px;
                padding: 10px 16px;
              }

              .tc-note-bodys {
                font-size: 1em;
                padding: 10px 16px 16px;
                background: #fffacb;
                resize: none;
                width: 100%;
                border: none;
                height: 70%;
                padding: 15px;
                outline: none;

                &::-webkit-scrollbar {
                  width: 10px;
                  cursor: pointer;
                }

                &::-webkit-scrollbar-track {
                  background-color: #fffacb;
                  border-radius: 4px;
                  cursor: pointer;
                }

                &::-webkit-scrollbar-thumb {
                  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  border-radius: 4px;
                  cursor: pointer;
                }
              }

              &:hover {
                box-shadow: 2px 4px 10px 2px 3px 0px rgba(0, 0, 0, 0.3);
              }
            }
          }
        }
      }

      .saveNewChanges {
        width: 97%;
        height: 5%;
        margin: 0px auto;
        display: none;
        align-items: center;
        justify-content: flex-end;
        transition: 1s all;

        &:hover {
          width: 97%;
          height: 5%;
          margin: 0px auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;

        }

        .save-note {
          border-radius: 3px;
          outline: none;
          border: none;
          background-color: #d7eeef;
          width: 60px;
          height: 70%;
        }
      }
    }
  }
  .errNoteSave {
    display: none;
    position: absolute;
    width: 330px;
    height: 90px;
    top: 200px;
    left: 39%;
    border: 1px solid;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    h6 {
      text-align: center;
    }

    .errNoteSave-form {
      width: 100%;

      .errNoteSave-btns {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0px auto;

        .errNoteSave-btns-cancel {
          background-color: #c9c6c6;
          border: none;
          border-radius: 5px;
          outline: none;
          width: 70px;
          padding-left: 11px;
          cursor: pointer;
        }

        .errNoteSave-btns-save {
          background-color: #d7eeef;
          border: none;
          outline: none;
          border-radius: 5px;
          width: 70px;
        }
      }
    }
  }
}

.errNoteSaves {
  display: none;
  position: absolute;
  width: 330px;
  height: 90px;
  top: 200px;
  left: 39%;
  border: 1px solid;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  h6 {
    margin-top: 10px;
    text-align: center;
  }
  .errNoteSave-form {
    width: 100%;

    .errNoteSave-btns {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 20px auto;

      .errNoteSave-btns-cancel {
        background-color: #c9c6c6;
        border: none;
        border-radius: 5px;
        outline: none;
        width: 70px;
        padding-left: 11px;
        cursor: pointer;
      }

      .errNoteSave-btns-save {
        background-color: #d7eeef;
        border: none;
        outline: none;
        border-radius: 5px;
        width: 70px;
      }
    }
  }
}
