.wrapper_demoPage {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  position: relative;

  header {
    width: 100%;
    height: 5%;
    background-color: #fbe8a6;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and(max-width: 1615px) {
      height: 6%;
    }

    .header-btns-left {
      width: 25%;
      height: 100%;
      display: flex;
      align-self: center;
      justify-content: center;
      color: #181817;

      @media screen and(max-width: 1500px) {
        width: 35%;
      }

      @media screen and(max-width: 1215px) {
        width: 37%;
      }
      @media screen and(max-width: 1215px) {
        width: 42%;
      }

      @media screen and(max-width: 1215px) {
        width: 50%;
      }
      @media screen and(max-width: 900px) {
        width: 55%;
      }

      @media screen and(max-width: 800px) {
        width: 68%;
      }

      .logo {
        width: 20%;
        height: 100%;
        padding: 5px;
      }

      .wrapper-btns {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn-png {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .btn-png-items {
            width: 12%;
            height: 100%;
            padding: 5px;
            border-radius: 4px;
            float: left;
            height: 32px;
            text-align: center;
            cursor: pointer;
          }

          .add {
            background: url('../png/edit-7-48.png') no-repeat center center;
            background-size: 39%;
            border-right: 1px solid white;
            position: relative;

            &:hover {
              background-color: grey;
            }

            &::before {
              content: attr(data-title);
              width: 85px;
              height: 22px;
              position: absolute;
              text-align: center;
              z-index: 2;
              display: none;
              padding: 2px;
              border-radius: 3px;
              background-color: grey;
              color: rgb(107, 104, 100);
              top: 134%;
              right: -14px;
              color: blanchedalmond;
              font-size: 0.8em;
              transition: 1s;
              opacity: 0.6;
              border: #fbe8a6;
            }

            &::after {
              position: absolute;
              z-index: 1;
              display: none;
              width: 0;
              height: 0;
              border: 1px solid;
            }

            &:hover::before,
            &:hover::after {
              display: block;
            }
            
          }

          .color {
            background: url('../png/text-bg.png') no-repeat center center;
            background-size: 40%;
            height: 80%;
            position: relative;

            &:hover {
              background-color: grey;
            }

            &::before {
              content: attr(data-title);
              width: 85px;
              transition: cubic-bezier(0.075, 0.82, 0.165, 1);
              height: 42px;
              position: absolute;
              text-align: center;
              z-index: 2;
              display: none;
              padding: 2px;
              border-radius: 3px;
              background-color: grey;
              color: rgb(107, 104, 100);
              top: 120%;
              right: -14px;
              color: blanchedalmond;
              font-size: 0.8em;
              transition: 1s;
              opacity: 0.6;
              border: #fbe8a6;
            }

            &::after {
              position: absolute;
              z-index: 1;
              display: none;
              width: 0;
              height: 0;
              border: 1px solid;
            }

            &:hover::before,
            &:hover::after {
              display: block;
            }

          }

          .add-img {
            background: url('../png/photo.png') no-repeat center center;
            background-size: 40%;
            height: 80%;
            position: relative;

            &:hover {
              background-color: grey;
            }

            &::before {
              content: attr(data-title);
              width: 85px;
              transition: cubic-bezier(0.075, 0.82, 0.165, 1);
              height: 22px;
              position: absolute;
              text-align: center;
              z-index: 2;
              display: none;
              padding: 2px;
              border-radius: 3px;
              background-color: grey;
              color: rgb(107, 104, 100);
              top: 120%;
              right: -14px;
              color: blanchedalmond;
              font-size: 0.8em;
              transition: 1s;
              opacity: 0.6;
              border: #fbe8a6;
            }

            &::after {
              position: absolute;
              z-index: 1;
              display: none;
              width: 0;
              height: 0;
              border: 1px solid;
            }

            &:hover::before,
            &:hover::after {
              display: block;
            }
          }

          .add-group {
            background: url('../png/plus.png') no-repeat center center;
            background-size: 40%;
            height: 80%;
            position: relative;

            &:hover {
              background-color: grey;
            }

            &::before {
              content: attr(data-title);
              width: 85px;
              transition: cubic-bezier(0.075, 0.82, 0.165, 1);
              height: 22px;
              position: absolute;
              text-align: center;
              z-index: 2;
              display: none;
              padding: 2px;
              border-radius: 3px;
              background-color: grey;
              color: rgb(107, 104, 100);
              top: 120%;
              right: -14px;
              color: blanchedalmond;
              font-size: 0.8em;
              transition: 1s;
              opacity: 0.6;
              border: #fbe8a6;
            }

            &::after {
              position: absolute;
              z-index: 1;
              display: none;
              width: 0;
              height: 0;
              border: 1px solid;
            }

            &:hover::before,
            &:hover::after {
              display: block;
            }

          }

          .todo-list {
            background: url('../png/activity-feed.png') no-repeat center center;
            background-size: 40%;
            height: 80%;
            position: relative;

            &:hover {
              background-color: grey;
            }

            &::before {
              content: attr(data-title);
              width: 85px;
              transition: cubic-bezier(0.075, 0.82, 0.165, 1);
              height: 42px;
              position: absolute;
              text-align: center;
              z-index: 2;
              display: none;
              padding: 2px;
              border-radius: 3px;
              background-color: grey;
              color: rgb(107, 104, 100);
              top: 120%;
              right: -14px;
              color: blanchedalmond;
              font-size: 0.8em;
              transition: 1s;
              opacity: 0.6;
              border: #fbe8a6;
            }

            &::after {
              position: absolute;
              z-index: 1;
              display: none;
              width: 0;
              height: 0;
              border: 1px solid;
            }

            &:hover::before,
            &:hover::after {
              display: block;
            }
          }

          .music {
            background: url('../png/note.png') no-repeat center center;
            background-size: 40%;
            height: 80%;
            position: relative;

            &:hover {
              background-color: grey;
            }

            &::before {
              content: attr(data-title);
              width: 55px;
              transition: cubic-bezier(0.075, 0.82, 0.165, 1);
              height: 22px;
              position: absolute;
              text-align: center;
              z-index: 2;
              display: none;
              padding: 2px;
              border-radius: 3px;
              background-color: grey;
              color: rgb(107, 104, 100);
              top: 120%;
              right: 0px;
              color: blanchedalmond;
              font-size: 0.8em;
              transition: 1s;
              opacity: 0.6;
              border: #fbe8a6;
            }

            &::after {
              position: absolute;
              z-index: 1;
              display: none;
              width: 0;
              height: 0;
              border: 1px solid;
            }

            &:hover::before,
            &:hover::after {
              display: block;
            }

          }

        }

      }

    }

    .header-btns-right {
      width: 12%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 0.7em;
      text-align: center;

      @media screen and(max-width: 1405px) {
        width: 15%;
      }

      .login-demo {
        width: 32%;
        height: 50%;
        color: black;
        font-size: 1.4em;
        cursor: pointer;
        border-radius: 5px;

        @media screen and(max-width: 1605px) {
          font-size: 1.2em;
        }

        @media screen and(max-width: 1405px) {
          font-size: 1.2em;
          height: 40%;
        }
        
        &:hover {
          background-color: grey;
        }

      }

      .sign-up-demo {
        width: 42%;
        height: 50%;
        color: black;
        font-size: 1.4em;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: grey;
        }

        @media screen and(max-width: 1605px) {
          font-size: 1.2em;
        }

        @media screen and(max-width: 1405px) {
          font-size: 1.2em;
          height: 40%;
        }

        
        @media screen and(max-width: 1075px) {
          font-size: 1.2em;
          width: 50%;
        }

      }

    }

  }
  .modal-window-need-login {
    margin-top: 60px;
    margin-left: 35%;
    position: absolute;
    border: 1px solid black;
    width: 580px;
    height: 120px;
    padding: 35px;
    font-size: 1.2em;
    background: rgb(98, 123, 124);
    background: linear-gradient(
      5deg,
      rgba(98, 123, 124, 1) 7%,
      rgba(233, 197, 120, 1) 58%
    );
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    display: none;
    letter-spacing: 1px;

  }
}
