<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>EasyNote_Demo</title>
  </head>
  <body>
    <div class="wrapper_demoPage">
      <header>
        <div class="header-btns-left">
          <div class="logo">Logo</div>
          <div class="wrapper-btns">
            <div class="btn-png">
              <div class="btn-png-items add" data-title="Подсказка"></div>
              <div class="btn-png-items light" data-title="Подсказка"></div>
              <div class="btn-png-items color" data-title="Подсказка"></div>
              <div class="btn-png-items add-img" data-title="Подсказка"></div>
              <div class="btn-png-items add-group" data-title="Подсказка"></div>
              <div class="btn-png-items todo-list" data-title="Подсказка"></div>
              <div class="btn-png-items music" data-title="Подсказка"></div>
            </div>
          </div>
        </div>
        <div class="header-btns-right">
          <div class="avatar">
            <div class="photo"></div>
          </div>
          <div class="settings">
            <div class="settings__img"></div>
          </div>
          <div class="exit">
            <div class="exit__img"></div>
          </div>
        </div>
      </header>
      <main></main>
      <aside></aside>
      <footer></footer>
    </div>
  </body>
</html>