main {
  width: 100vw;
  height: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  .aside-boards {
    width: 5%;
    height: 100%;
    background-color: #000000;
  }

  .main-board {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-my-boards {
      width: 95%;
      height: 50%;
      border: #0f0e0e;
    }

    &-create-group {
      width: 95%;
      height: 50%;
      border: #5c5858;
    }
  }
}