@import './header-main-page.scss';
@import '../components/sign-in/singn-in.scss';
@import '../components/sign-up/sign-up.scss';
@import './main-body-page.scss';

*,*:after,*:before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper_mainPage {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

.redInp {
  border: #f70606 1px solid;
}

.error-notification {
  background-color: #D7EEEF;
  width: 130px;
  height: 40px;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 69.5%;
  right: 28%;
  border: #C4C4C4 1px solid;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;

  @media screen and(max-width: 1600px) {
    background-color: #D7EEEF;
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 68%;
    right: 23%;
    border: #C4C4C4 1px solid;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8em;
  }
}