.wrapper-start-page {
  @include width_height(100vw, 100vh);
  @include marginPadding(0px, 0px);
  box-sizing: border-box;
  background-color: #f3f3f3;

  .header {
    @include width_height(100%, 4%);
    @include flexCenterSpaceBetween(flex, center, flex-end);
    font-size: 1.1em;
    font-weight: bolder;
    letter-spacing: 1px;

    .start-login {
      @include width_height(5%, 100%);
      padding: 5px;

      &:hover {
        opacity: 0.6;
      }

      @media screen and(max-width: 1187px) {
        @include width_height(15%, 100%);
      }

      @media screen and(max-width: 1024px) {
        font-size: 1.2em;
        @include width_height(15%, 100%);
      }

      @media screen and(max-width: 768px) {
        @include width_height(auto, auto);
      }

      @media screen and(max-width: 540px) {
        font-size: 0.9em;
      }

      @media screen and(max-width: 414px) {
        font-size: 0.8em;
        @include width_height(auto, auto);
      }

      @media screen and(max-width: 375px) {
        font-size: 0.7em;
        width: auto;
      }
    }

    .start-sign-up {
      @include width_height(5%, 100%);
      padding: 5px;

      &:hover {
        opacity: 0.6;
      }

      @media screen and(max-width: 1187px) {
        @include width_height(25%, 100%);
      }

      @media screen and(max-width: 1024px) {
        font-size: 1.2em;
        @include width_height(15%, 100%);
      }

      @media screen and(max-width: 768px) {
        @include width_height(auto, auto);
        padding-right: 35px;
      }

      @media screen and(max-width: 540px) {
        font-size: 0.9em;
      }

      @media screen and(max-width: 414px) {
        font-size: 0.8em;
        @include width_height(auto, auto);
      }

      @media screen and(max-width: 375px) {
        font-size: 0.7em;
        width: auto;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }
  }

  .logo-start-wrapper {
    @include width_height(650px, 650px);
    @include flexCenterSpaceBetween(flex, center, space-evenly);
    margin: 7% auto;
    border: 1px solid #dcd3d3;
    flex-direction: column;

    @media screen and(max-width: 1500px) {
      @include width_height(600px, 600px);
      margin: 5% auto;
    }

    @media screen and(max-width: 1400px) {
      @include width_height(590px, 590px);
      margin: 4% auto;
    }

    @media screen and(max-width: 1024px) {
      @include width_height(924px, 1200px);
    }

    @media screen and(max-width: 768px) {
      @include width_height(711px, 895px);
    }

    @media screen and(max-width: 540px) {
      @include width_height(479px, 642px);
      font-size: 0.9em;
    }

    @media screen and(max-width: 414px) {
      @include width_height(392px, 679px);
    }

    @media screen and(max-width: 411px) {
      @include width_height(392px, 679px);
    }

    @media screen and(max-width: 375px) {
      @include width_height(352px, 589px);
    }

    @media screen and(max-width: 320px) {
      @include width_height(312px, 509px);
    }

    .title {
      @include width_height(70%, 15%);
      margin: 10px auto;
      border: 1px solid #eeebeb;
      background-color: #d7eeef;
      color: black;
      text-align: center;
      font-size: 2.8em;
      padding-top: 10px;
      border-radius: 4px;

      @media screen and(max-width: 1500px) {
        @include width_height(65%, 12%);
        padding-top: 0px;
      }

      @media screen and(max-width: 1024px) {
        @include width_height(65%, 7%);
      }
      
      @media screen and(max-width: 768px) {
        @include width_height(65%, 8%);
        font-size: 2.5em;
      }

      @media screen and(max-width: 540px) {
        font-size: 2em;
      }


      @media screen and(max-width: 414px) {
        @include width_height(65%, 8%);
        font-size: 1.7em;
      }

      @media screen and(max-width: 375px) {
        @include width_height(65%, 8%);
        font-size: 1.6em;
        align-self: center;
        justify-self: center;
      }
    }

    .logo-start {
      @include width_height(281px, 297px);
      background: url("/src/png/logo.png") no-repeat center center;
      background-size: cover;

      @media screen and(max-width: 1024px) {
        @include width_height(499px, 529px);
      }

      @media screen and(max-width: 540px) {
        @include width_height(323px, 294px);
      }

      @media screen and(max-width: 375px) {
        @include width_height(201px, 217px);
      }
    }

    .text {
      width: 150px;
      text-align: center;

      p {
        margin: 0px;
      }
    }
  }
}
