.wrapper {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;

  .sign-up {
    width: 800px;
    height: 782px;
    margin: 3% auto;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;

    @media screen and(max-width: 1600px) {
      width: 33%;
    }

    .form-wrapper {
      width: 100%;
      height: 73%;

      form {
        margin: 15% auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .error-email-signup {
          width: 80%;
          height: 16%;

          .messege-error-email-signup {
            font-size: 0.8em;
            padding-left: 10px;
            color: red;
            display: none;
            font-weight: bolder;

            @media screen and(max-width:1600px) {
              font-size: 0.7em;
            }
          }

          #email-sign-up {
            width: 100%;
            height: 100%;
          }
        }

        .block-input {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 60%;

          .username-block {
            width: 80%;
            height: 16%;
            position: relative;

            #username {
              width: 100%;
              height: 100%;
              color: black;
            }

            .username-messege {
              position: absolute;
              font-size: 0.7em;
              color: red;
              font-weight: bolder;
              top: 100%;
              left: 3%;
              display: none;
            }

          }

          .hide-pass {
            width: 80%;
            height: 16%;
            display: flex;
            position: relative;

            .show-messege-password-strength {
              position: absolute;
              left: 105%;
              top: -20px;
              width: 170px;
              height: 90px;
              border: 1px solid #e5e5e5;
              font-size: 1em;
              padding: 2px;
              background-color: #e5e5e5;
              display: none;

              .filler {
                margin: 0 auto;
                width: 90%;
                height: 7px;
                border: 1px solid;
                border-radius: 10px;

                .red {
                  width: 25%;
                  height: 100%;
                  background-color: red;
                  border-radius: 10px;
                }

                .orange {
                  width: 50%;
                  height: 100%;
                  background-color: rgb(255, 132, 0);
                  border-radius: 10px;
                }

                .yellow {
                  width: 75%;
                  height: 100%;
                  background-color: rgb(200, 255, 0);
                  border-radius: 10px;
                }

                .green {
                  width: 100%;
                  height: 100%;
                  background-color: rgb(0, 255, 30);
                  border-radius: 10px;
                }
              }

              .password-stength-current {
                width: 100%;
                height: 20%;
                display: flex;

                p {
                  text-align: left;
                  width: 80%;
                }
              }
            }

            .hidden {
              width: 6%;
              height: 100%;
              border: 1px solid #e5e5e5;
              border-left: none;
              background-color: #ffffff;
              border-left: 1px solid #e5e5e5;
              background-image: url("../png/eye-2-48.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: 50%;
              cursor: pointer;
            }

            .first-inp {
              width: 94%;
              height: 100%;
              background-color: #ffffff;
              outline: none;
              padding-left: 15px;
              border: #e5e5e5 1px solid;
              color: black;
              font-size: 1.1em;
              font-weight: bolder;
              padding-right: 25px;
              border-right: none;

              &::placeholder {
                color: #e5e5e5;
                font-size: 1em;
                font-weight: bold;
              }
            }
          }

          .reg {
            width: 80%;
            height: 16%;
            background-color: #ffffff;
            outline: none;
            padding-left: 15px;
            color: black;
            border: #e5e5e5 1px solid;
            font-size: 1.1em;
            font-weight: bolder;
            padding-right: 25px;

            @media screen and(max-width: 1600px) {
              height: 17%;
            }

            &::placeholder {
              color: #e5e5e5;
              font-size: 1em;
              font-weight: bold;
            }

          }
        }

        p {
          width: 80%;
          height: 8%;
          text-align: right;
          font-size: 0.6em;
          margin-right: 10px;
          font-weight: bold;
        }

        #btn-sign-up {
          color: rgb(0, 0, 0);
          background-color: #d7eeef;
          outline: none;
          font-size: 1.5em;
          letter-spacing: 2px;
          width: 80%;
          height: 18%;
          border: none;
        }
      }
    }

    .create-account-href {
      width: 100%;
      height: auto;
      text-align: center;
      font-size: 0.8em;
      font-weight: bold;
    }

    .btn-href-sing-up {
      width: 100%;
      height: 10%;
      display: flex;
    }
  }
  .sing-up-bottom-text {
    width: 80%;
    height: auto;
    font-size: 0.9em;

    @media screen and(max-width:1600px) {
      font-size: 0.7em;
    }
  }
}

.color-stength {
  text-align: left;
  width: 80%;
  color: green;
}

.incorrectly-password {
  font-size: 0.7em;
  color: red;
  position: absolute;
  height: 10px;
  top: 100%;
  width: 100%;
  left: 3%;
  font-weight: bolder;
  display: none;
}
