.wrapper {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;

  .sign-up {
    width: 30%;
    height: 59%;
    margin: 10% auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    @media screen and(max-width: 1600px) {
        width: 33%;
      }

    .form-wrapper {
      width: 100%;
      height: 73%;

      form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .block-input {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 60%;

          input {
            width: 80%;
            height: 16%;
            border-radius: 10px;
            background-color: #e5e5e5;
            outline: none;
            padding-left: 15px;
            border: black 1px solid;
            -webkit-box-shadow: -2px 7px 15px -4px #000000;
            box-shadow: -2px 7px 15px -4px #000000;
            color: black;
            font-size: 1.1em;
            font-weight: bolder;
            padding-right: 25px;

            @media screen and(max-width: 1600px) {
                height: 17%;
              }

            &::placeholder {
              color: black;
              font-size: 1em;
              font-weight: bold;
              
            }

          }

        }

        p {
          width: 80%;
          height: 8%;
          text-align: right;
          font-size: 0.6em;
          margin-right: 10px;
          font-weight: bold;
        }

        #btn-sign-up {
          color: white;
          background-color: black;
          outline: none;
          font-size: 1.5em;
          letter-spacing: 2px;
          width: 80%;
          height: 18%;
          border-radius: 20px;
          font-weight: bold;
          border: none;
        }

      }

    }

    .title {
      width: 100%;
      text-align: center;
      padding-top: 15px;
      font-weight: bolder;
      height: 15%;
      background-color: #fcfbda;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 1.2em;
      letter-spacing: 1px;
    }

    .create-account-href {
      width: 100%;
      height: auto;
      text-align: center;
      font-size: 0.8em;
      font-weight: bold;
    }

    .btn-href-sing-up {
      width: 100%;
      height: 10%;
      display: flex;

      .btn-href-sing-up-item {
        margin: 1px auto;
        width: 30%;
        height: 55%;
        font-size: 0.7em;
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: bold;
      }

    }

  }
  .sing-up-bottom-text {
    width: 80%;
    height: auto;
    font-size: 0.9em;

    @media screen and(max-width:1600px) {
        font-size: 0.7em;
    }
    
  }

}
