<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Sign up</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="sign-up">
        <div class="title">Create a new account</div>
        <div class="form-wrapper">
          <form class="form">
            <div class="block-input">
              <input
                type="text"
                name=""
                id="email-sign-in"
                placeholder="Username"
              />
              <input
                type="password"
                name=""
                id="password-sign-in"
                placeholder="Email Adress"
              />
              <input
                type="password"
                name=""
                id="password-sign-in"
                placeholder="Login"
              />
              <input
                type="password"
                name=""
                id="password-sign-in"
                placeholder="Password"
              />
            </div>
            <button type="submit" id="btn-sign-up">Sign up</button>
          </form>
        </div>
        <div class="sing-up-bottom-text">
          <p>By registering an account, you accept our Terms of Service and Privacy Policy.</p>
        </div>
      </div>
    </div>
  </body>
</html>
