@import '../../styles/mixin.scss';

.wrapper-main {
  @include width_height(100vw, 100vh);
  @include marginPadding(0px, 0px);
  box-sizing: border-box;
  position: relative;

  header {
    @include width_height(100%, 6%);
    @include flexCenterSpaceBetween(flex, center, space-between);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    .logo-imgs {
      @include width_height(25%, 100%);
      @include flexCenterSpaceBetween(flex, center, center);
      background-color: #d7eeef;
      cursor: pointer;

      &-png {
        @include width_height(20%, 100%);
        background: url("/src/png/logo.png") center center no-repeat;
        background-size: contain;
        margin-left: 120px;

        @media screen and(max-width: 1600px) {
          margin-left: 70px;
        }
      }

      &-title {
        @include width_height(80%, 100%);
        padding-top: 3px;
        font-size: 1.9em;

        @media screen and(max-width: 1600px) {
          font-size: 1.5em;
        }
      }
    }

    .btns-header {
      @include width_height(75%, 100%);
      @include flexCenterSpaceBetween(flex, center, flex-end);
      background-color: rgb(48, 46, 46);

      .logout {
        @include width_height(5%, 100%);
        background: url("/src/png/exit.png") no-repeat center center;
        background-size: 40%;
        cursor: pointer;

        @media screen and(max-width: 1600px) {
          @include width_height(5%, 100%);
          background-size: 50%;
        }
      }
    }
  }

  main {
    @include width_height(100%, 94%);
    @include flexCenterSpaceBetween(flex, center, center);

    .aside {
      @include width_height(25%, 100%);
      @include flexCenterSpaceBetween(flex, center, flex-start);
      border-right: 1px solid #e4dede;
      flex-direction: column;

      .aside-name {
        @include width_height(100%, 4%);
        font-size: 1.4em;
        padding-left: 35px;
        margin-top: 20px;

        @media screen and(max-width: 1600px) {
          @include width_height(100%, 4%);
          font-size: 1.2em;
          padding-left: 25px;
          margin-top: 15px;
        }
      }

      .aside-email {
        @include width_height(100%, 4%);
        font-size: 1.2em;
        padding-left: 35px;
        color: #999797;

        @media screen and(max-width: 1600px) {
          @include width_height(100%, 4%);
          font-size: 1em;
          padding-left: 25px;
        }
      }

      .settings {
        @include width_height(100%, 12%);
        @include flexCenterSpaceBetween(flex, center, center);
        flex-direction: column;

        .my-account {
          @include width_height(90%, 35%);
          border-bottom: 1px solid #e4dede;
          font-weight: 400;
          font-size: 1.1em;
          cursor: pointer;
          padding: 5px;
          font-weight: 400;
          border-radius: 5px;

          @media screen and(max-width: 1500px) {
            height: 55% !important;
          }

          &:hover {
            background-color: #b6b5b5;
            color: white;
          }

          @media screen and(max-width: 1600px) {
            @include width_height(90%, 50%);
            @include paddingTopLeft(15px, 20px);
            border-bottom: 1px solid #e4dede;

          }
        }

        .login-security {
          @include width_height(90%, 50%);
          @include paddingTopLeft(25px, 20px);
          border-bottom: 1px solid #e4dede;
          font-weight: 400;
          font-size: 1.1em;
          cursor: pointer;

          @media screen and(max-width: 1600px) {
            @include width_height(90%, 50%);
            @include paddingTopLeft(15px, 20px);
            border-bottom: 1px solid #e4dede;
          }
        }
      }
    }

    .main-board {
      @include width_height(75%, 100%);
      @include flexCenterSpaceBetween(flex, flex-start, flex-start);
      padding: 15px;

      .userInfo {
        @include width_height(60%, 30%);
        display: flex;
        flex-direction: column;

        .My-account {
          @include width_height(100%, 30%);
          font-weight: bold;
          font-size: 1.2em;
          padding: 10px;
        }

        .changeName {
          @include width_height(100%, 30%);
          @include flexCenterSpaceBetween(flex, center, space-between);
          border-bottom: 1px silver solid;

          .nameBlock {
            @include width_height(80%, 100%);
          }

          .name {
            @include width_height(100%, 30%);
            padding: 10px;
          }

          .userName {
            @include width_height(100%, 90%);
            color: silver;
            font-size: 1.3em;
            padding: 10px;
            resize: none;
            border: none;
            outline: none;
            background: local
          }

          .btnEdit {
            @include width_height(10%, 100%);
            display: flex;

            .btnblockEdit {
              @include width_height(100px, 25px);
              border: none;
              align-self: flex-end;
              border-radius: 5px;
              background-color: #D7EEEF;
              margin-bottom: 10px;
            }
          }
        }

        .changeEmail {
          @include width_height(100%, 30%);
          @include flexCenterSpaceBetween(flex, center, space-between);
          margin-top: 10px;

          .emailBlock {
            @include width_height(90%, 100%);
          }

          .email {
            @include width_height(100%, 30%);
            padding: 10px;
          }

          .userEmail {
            @include width_height(100%, 90%);
            color: silver;
            font-size: 1.3em;
            padding: 10px;
            resize: none;
            border: none;
            outline: none;
            background: local
          }

          .btnEdits {
            @include width_height(10%, 100%);;
            display: flex;

            .btnblockEdits {
              @include width_height(100px, 25px);
              border: none;
              align-self: flex-end;
              border-radius: 5px;
              background-color: #D7EEEF;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
